@import url("./reset.css");

#wrapper {
  width: 100%;
  height: 100%;
}

/* Main_page */

#main {
  width: 100%;
  height: 1080px;
}

/* gnb */

.gnb_container {
  width: 100%;
  height: 165px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
}

.gnb_logo {
  width: 80px;
  height: 80px;
  background: url("../img/img/Logo.png");
  margin-left: 40px;
}

.gnbDesktop {
  width: 882px;
  height: 56px;
  margin-right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  color: white;
}

.gnbMobile {
  display: none;
}

.gnbDesktop li {
  font-size: 30px;
  letter-spacing: 4px;
}

.gnb_toggle_btn {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid white;
  transform: rotate(45deg);
  transition: 0.5s ease-in-out;
  &:hover {
    transform: rotate(-180deg);
  }
}

/* main_banner */
.main_banner {
  position: relative;
  width: 100%;
  height: 916px;
  /* background-image: url(../img/img/bg.png); */
  z-index: 0;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(51, 51, 51, 0.3);
    z-index: 1;
  }
}

.bg_video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* main_title */

.main_title {
  position: absolute;
  width: 1632px;
  height: 534px;
  left: 140px;
  top: 102px;
  z-index: 2;
}

.main_title span {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 180px;
  color: #fff;
}

.main_title span:first-child {
  position: absolute;
  top: 0;
  left: 0;
}

.main_title span:last-child {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* main_pager */

.main_pager_container {
  width: 30px;
  height: 434px;
  z-index: 10;
}

.main_pager {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 70px;
  position: absolute;
  top: 40%;
  left: 60px;
  transform: translateX(-20%);
  transform: translateY(-50%);
}

.main_pager li:first-child {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: #666;
  text-indent: -9999px;
}

.main_pager li {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: #d9d9d9;
  z-index: 10;
  text-indent: -9999px;
}

/* Scroll indicator */

.scroll_indicator_container {
  width: 114px;
  height: 76px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  z-index: 10;
  position: absolute;
  bottom: 154px;
  right: 120px;
}

.scroll_indicator_container span {
  text-transform: capitalize;
  color: #fff;
  font-size: 20;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

/* About_Me */

#About_Me {
  width: 100%;
  height: 1080px;
  position: relative;
  background: #f0f0f0;
}

/* About_Me Pager */

.AM_pager_container {
  width: 30px;
  height: 434px;
  z-index: 10;
}

.AM_pager {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 70px;
  position: absolute;
  top: 50%;
  left: 60px;
  transform: translateX(-20%);
  transform: translateY(-50%);
}

.AM_pager li:nth-child(2) {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: #666;
  text-indent: -9999px;
}

.AM_pager li {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: #d9d9d9;
  z-index: 10;
  text-indent: -9999px;
}

.AM_menu_toggle_btn {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #888;
  position: absolute;
  top: 50%;
  right: 50px;
  transform: rotate(45deg);
  transition: 0.5s ease-in-out;
  &:hover {
    transform: rotate(-180deg);
  }
}

/* About_Me contents */

.About_Me_contents {
  width: 1550px;
  height: 866px;
  margin: 0 auto;
  border-radius: 40px;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  background: #393939;
  box-shadow: 0px 7px 7.7px rgba(0, 0, 0, 0.25);
}

.AM_title {
  width: 386px;
  height: 116px;
  position: absolute;
  top: 40px;
  left: 58px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.About_Me_contents h1 {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 80px;
  font-weight: 900;
  color: white;
}

.AM_logo {
  display: inline-block;
  width: 70px;
  height: 70px;
  background: url("../img/img/Logo.png") center/cover no-repeat;
}

/* inner_text */

.AM_inner_text {
  display: inline-block;
  /* font-family: "IBM Plex Mono", monospace; */
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
  line-height: 46px;
  color: #fff;
  width: 640px;
  height: 460px;
  margin-top: 270px;
  margin-left: 58px;
}

.AM_inner_info {
  margin-left: 100px;
}

.inner_text_title {
  font-family: IBM Plex Mono, monospace;
}

.inner_text_paran {
  color: var(--text_point_color);
}

.inner_info_birth {
  font-family: IBM Plex Mono, monospace;
  color: var(--text_point_color);
}

.inner_info_birth_colon {
  color: var(--toned_text);
}

.inner_info_major {
  color: var(--toned_text);
}

.inner_info_address {
  color: var(--toned_text);
}

.inner_info_scholar {
  color: var(--toned_text);
}

.inner_info_last {
  font-family: IBM Plex Mono, monospace;
}

#mobile_mbti {
  display: none;
}

/* About_Me right half */

#About_Me .right_half {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: absolute;
  width: 774px;
  height: 866px;
  padding: 68px;
  gap: 12px;
  border-radius: 220px 40px 40px 170px;
  position: absolute;
  top: 0;
  right: 0;
  background: #2d8599;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.rh_inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 50px;
}

.rh_inner_text {
  flex-direction: column;
  color: white;
  font-weight: 400;
  line-height: 30px;
}

.mbti_img {
  margin-top: 30px;
}

.mbti_toggle_btn {
  width: 272px;
  .mbti_btn_shadow {
    position: absolute;
    width: 272px;
    height: 76px;
    bottom: -12px;
    padding: 20px 90px;
    font-size: 25px;
    border-radius: 50px;
    text-align: center;
    background: #4b4b4b;
    border: none;
    z-index: 0;
    opacity: 1;
    transition: all 0.1s ease-in-out;
  }
  &:hover .mbti_btn_shadow {
    opacity: 0;
  }
}

.mbti_toggle_btn input {
  position: relative;
  margin-top: 50px;
  width: 272px;
  height: 76px;
  padding: 20px 90px;
  font-size: 25px;
  border-radius: 50px;
  text-align: center;
  background: #d9d9d9;
  color: #444;
  border: none;
  cursor: pointer;
  z-index: 1;
}

/* Hobbies */

#Hobbies {
  width: 100%;
  height: 1080px;
  position: relative;
  background: #393939;
}

.H_menu_toggle_btn {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #888;
  position: absolute;
  top: 50%;
  right: 50px;
  transform: rotate(45deg);
  transition: 0.5s ease-in-out;
  &:hover {
    transform: rotate(-180deg);
  }
}

.H_pager_container {
  position: absolute;
  width: 30px;
  height: 434px;
  z-index: 10;
}

.H_pager {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 70px;
  position: absolute;
  top: 50%;
  left: 60px;
  transform: translateX(-20%) translateY(30%);
}

.H_pager li:nth-child(3) {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: #666;
  text-indent: -9999px;
}

.H_pager li {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: #d9d9d9;
  z-index: 10;
  text-indent: -9999px;
}

.H_contents {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  width: 1554px;
  height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 68px;
}

.H_card_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 105px;
}

.H_contents_title {
  font-size: 80px;
  letter-spacing: normal;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 900;
  color: white;
  span {
    color: var(--text_point_color);
  }
}

.H_card {
  width: 448px;
  height: 750px;
  border-radius: 20px;
  box-shadow: 0px 0px 29.6px rgba(0, 0, 0, 0.7);
}

.card_inner_img {
  width: 100%;
  height: 416px;
}

.card_info_container {
  position: relative;
  width: inherit;
  height: 338px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
}

.card_info_title {
  font-family: "Nexon Lv1 Gothic";
  font-weight: 700;
  color: white;
  font-size: 50px;
  letter-spacing: -1%;
}

.card_info_desc {
  font-family: "Nexon Lv1 Gothic";
  font-style: normal;
  font-weight: 400;
  color: white;
  font-size: 24px;
  letter-spacing: -1%;
  line-height: 150%;
  &:first-child {
    font-size: 22px;
  }
}

.card_info_desc > span {
  color: var(--text_point_color);
  font-size: 24px;
}

.card_inner_img {
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 416px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &.first {
    background: radial-gradient(circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)),
      url("../img/img/Game1.png") center/cover no-repeat;
  }
  &.second {
    background: radial-gradient(circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)),
      url("../img/img/Photo1.png") center/cover no-repeat;
  }
  &.third {
    background: radial-gradient(circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)),
      url("../img/img/Music1.png") center/cover no-repeat;
  }
}

/* Pagers & Arrows */
.img_slide_arrow {
  display: flex;
  width: 550px;
  justify-content: space-between;
  cursor: pointer;
  padding: 0 20px;
  display: none;
}

.img_slide_arrow .slide_arrow.left {
  position: relative;
  width: 50px;
  height: 50px;
  color: #111;
  text-align: center;
  border-radius: 100%;
  background: rgba(136, 136, 136, 0.25);
  transition: all 0.3s;
  &:hover {
    color: var(--bg-color-black);
    background: rgba(0, 0, 0, 0.3);
    border-radius: 100%;
  }
  /* 위치확인용 */
  /* border: 1px solid #f00; */
}

.img_slide_arrow .slide_arrow.right {
  position: relative;
  width: 50px;
  height: 50px;
  color: #111;
  text-align: center;
  border-radius: 100%;
  background: rgba(136, 136, 136, 0.25);
  transition: all 0.3s;
  &:hover {
    color: var(--bg-color-black);
    background: rgba(0, 0, 0, 0.3);
    border-radius: 100%;
  }
  /* 위치확인용 */
  /* border: 1px solid #f00; */
}

.img_slide_arrow .slide_arrow i {
  display: inline-block;
  width: 16px;
  height: 28px;
  font-size: 26px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card_slide_arrow {
  display: flex;
  width: 550px;
  justify-content: space-between;
  cursor: pointer;
  padding: 0 64px;
  position: absolute;
  bottom: 230px;
  display: none;
}

.card_slide_arrow .slide_arrow.left {
  position: relative;
  width: 50px;
  height: 50px;
  color: #111;
  text-align: center;
  border-radius: 100%;
  transition: all 0.3s;
  &:hover {
    color: var(--bg-color-black);
    background: rgba(0, 0, 0, 0.3);
    border-radius: 100%;
  }
  /* 위치확인용 */
  /* border: 1px solid #f00; */
}

.card_slide_arrow .slide_arrow.right {
  position: relative;
  width: 50px;
  height: 50px;
  color: #111;
  text-align: center;
  border-radius: 100%;
  transition: all 0.3s;
  &:hover {
    color: var(--bg-color-black);
    background: rgba(0, 0, 0, 0.3);
    border-radius: 100%;
  }
  /* 위치확인용 */
  /* border: 1px solid #f00; */
}

.card_slide_arrow .slide_arrow i {
  display: inline-block;
  width: 16px;
  height: 28px;
  font-size: 26px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img_slide_pager {
  width: 100%;
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  gap: 12px;
  cursor: pointer;
  display: none;
}

.img_slide_pager span {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.5);
  text-indent: -9999px;
}

.card_pager {
  display: flex;
  gap: 10px;
  position: absolute;
  left: 50%;
  bottom: 38px;
  transform: translateX(-50%);
  cursor: pointer;
  display: none;
  span {
    width: 50px;
    height: 5px;
    background: #d9d9d9;
    /* 숫자를 안보이게함. html태그내의 내용을 지워도 되지만 그럴경우 첨보는 사람이 볼때 비어있는 태그가 이상하게 보이므로 코드의 재사용성이 떨어짐. 다음과 같은 방법으로 없애는걸 권장 */
    text-indent: -9999px;
  }
}

.m_card_pager {
  display: none;
}

#Vision {
  width: 100%;
  height: 1080px;
  position: relative;
  background: #212121;
}

.V_menu_toggle_btn {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #888;
  position: absolute;
  top: 50%;
  right: 50px;
  transform: rotate(45deg);
  transform: rotate(45deg);
  transition: 0.5s ease-in-out;
  &:hover {
    transform: rotate(-180deg);
  }
}

.V_pager_container {
  position: absolute;
  width: 30px;
  height: 434px;
  z-index: 10;
}

.V_pager {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 70px;
  position: absolute;
  top: 50%;
  left: 60px;
  transform: translateX(-20%) translateY(30%);
}

.V_pager li:nth-child(4) {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: #666;
  text-indent: -9999px;
}

.V_pager li {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: #d9d9d9;
  z-index: 10;
  text-indent: -9999px;
}

.V_contents {
  width: 1550px;
  height: 912px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 52px;
}

.V_contents_title {
  font-size: 80px;
  letter-spacing: normal;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 900;
  color: white;
  span {
    color: var(--text_point_color);
  }
}

.V_card_container {
  width: 100%;
  height: 744px;
  display: flex;
  flex-direction: row;
  gap: 110px;
  align-items: center;
  justify-content: center;
}

.V_card {
  width: 720px;
  height: 100%;
  border-radius: 30px;
  box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 34px;
  &.first {
    background: linear-gradient(180deg, #adadad 0%, #474747 100%);
  }
  &.second {
    background: linear-gradient(180deg, #4d4d4d 0%, #d8d8d8 100%);
  }
}

.V_card_inner {
  width: 330px;
  height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 50px;
}

.V_card_inner_img {
  width: 330px;
  height: 330px;
  &.first {
    background: url("../img/img/Discord.png") center/cover no-repeat;
  }
  &.second {
    background: url("../img/img/Nintendo.png") center/cover no-repeat;
    border-radius: 100%;
  }
}

.V_card_inner_title {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 60px;
  &.first {
    color: #d0d0d0;
  }
  &.second {
    color: #525252;
  }
}

.V_card_desc {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  font-weight: 400;
  font-size: 25px;
  line-height: 120%;
  letter-spacing: 0px;
  &.first {
    color: #e2e2e2;
    span {
      color: #3c99af;
    }
  }
  &.second {
    color: #414141;
    span {
      color: var(--text_point_color);
    }
  }
}

footer {
  width: 100%;
  height: 1080px;
  position: relative;
}

.Footer_bg {
  width: 100%;
  height: 1080px;
  /* background: url("../img/img/bg.png"); */
  filter: blur(10px);
}

.F_menu_toggle_btn {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #888;
  position: absolute;
  top: 50%;
  right: 50px;
  transform: rotate(45deg);
  transition: 0.5s ease-in-out;
  &:hover {
    transform: rotate(-180deg);
  }
}

.F_pager_container {
  position: absolute;
  width: 30px;
  height: 434px;
  top: 30%;
  transform: translateY(-50%);
  z-index: 10;
}

.F_pager {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 70px;
  position: absolute;
  top: 90px;
  left: 60px;
  transform: translateX(-20%) translateY(30%);
}

.F_pager li:last-child {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: #666;
  text-indent: -9999px;
}

.F_pager li {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: #d9d9d9;
  z-index: 10;
  text-indent: -9999px;
}

.F_contents {
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1554px;
  height: 950px;
  background: #222;
  font-family: "Kiona";
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 135px;
}

.F_contents_credentials {
  width: 458px;
  height: 587px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 80px;
}

.F_title_container {
  width: 100%;
  height: 588px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.F_title_inner_container {
  display: flex;
  flex-direction: column;
}

.F_title_img {
  width: 250px;
  height: 250px;
  background: url("../img/img/Profile.png");
  border-radius: 100%;
}

.F_title_text {
  font-size: 70px;
  color: white;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.F_query {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
  font-size: 30px;
}

.F_contents_info {
  width: 230px;
  height: 485px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #696969;
}

.F_icon_container {
  font-size: 30px;
  i {
    cursor: pointer;
  }
}

.F_placeholder {
  width: 739px;
  height: 550px;
  border: 1px solid white;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

form {
  position: relative;
  height: 382px;
}

select {
  width: 618px;
  height: 26px;
  background: none;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  &:active {
    border: none;
    border-bottom: 1px solid white;
    outline: none;
  }
  &:focus {
    border: none;
    border-bottom: 1px solid white;
    outline: none;
  }
}

input {
  background: none;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  height: 32px;
  color: white;
  &::placeholder {
    color: white;
    font-family: "Poppins", sans-serif;
    /* font-size: 18px; */
  }
  &[type="submit"] {
    color: white;
    width: 154px;
    height: 36px;
    border: 1px solid white;
    border-radius: 50px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 300;
    position: absolute;
    left: 60px;
    bottom: -40px;
    cursor: pointer;
  }
}

#Name {
  width: 280px;
  margin-right: 58px;
  margin-top: 70px;
}

#Email {
  width: 280px;
  margin-top: 70px;
}

#Mobile {
  width: 618px;
  margin-top: 70px;
}

textarea {
  width: 618px;
  background: none;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  font-family: "Inter", sans-serif;
  color: white;
  margin-top: 20px;
  &::placeholder {
    padding-top: 20px;
  }
}

@media screen and (max-width: 1190px) and (min-width: 360px) {
  #wrapper {
    width: 100%;
    overflow-x: hidden;
  }

  /* Main */

  #main {
    width: 100%;
    height: 380px;
  }

  .gnb_container {
    position: relative;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  }

  .gnbDesktop {
    display: none;
  }

  .gnbMobile {
    position: absolute;
    width: 342px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    li:first-child {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 10px;
      width: 100px;
      height: 30px;
      span {
        font-family: "Montserrat";
        font-size: 24px;
        color: white;
      }
    }
  }
  .gnb_toggle_btn {
    width: 24px;
    height: 24px;
    border-radius: 8px;
    border: 2px solid white;
  }

  .gnb_logo {
    display: none;
  }

  .gnb_logo_mobile {
    width: 20px;
    height: 20px;
    color: white;
    background: url("../img/img/Logo.png") center/cover no-repeat;
  }

  .main_banner {
    width: 100%;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .main_title {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    span {
      font-size: 30px;
    }

    span:first-child {
      top: 120px;
      left: 50%;
      transform: translateX(-50%);
    }
    span:last-child {
      right: 50%;
      bottom: 120px;
      transform: translateX(50%);
    }
  }
  .main_pager_container {
    display: none;
  }

  .main_pager {
    display: none;
  }

  .scroll_indicator_container {
    width: 52px;
    height: 30px;
    gap: 8px;
    position: absolute;
    bottom: 18px;
    right: 24px;
    span {
      font-size: 10px;
    }
    img {
      width: 18px;
      height: 30px;
    }
  }

  /* About Me */

  #About_Me_container {
    width: 100%;
    height: 760px;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
  }

  #About_Me {
    width: 100%;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .AM_menu_toggle_btn {
    width: 24px;
    height: 24px;
    border-radius: 8px;
    right: 24px;
    z-index: 10;
  }

  .About_Me_contents {
    width: 344px;
    height: 284px;
    position: absolute;
    top: 0;
    left: 0;
    transform: none;
    background: none;
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .AM_logo {
      width: 26px;
      height: 26px;
      color: #888;
      background: url("../img/img/AM_Logo.png");
    }
  }

  .AM_title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 64px;
    gap: 26px;
    padding-bottom: 20px;
    border-bottom: 1px solid #888;
    box-shadow: 0px 4px 4px -4px rgba(0, 0, 0, 0.25);
    h1 {
      font-size: 30px;
      color: #888;
    }
  }

  .AM_inner_text {
    position: absolute;
    top: 84px;
    left: 0;
    margin: 0;
    width: 100%;
    height: 200px;
    font-size: 14px;
    line-height: 18px;
    color: #888;
    padding-bottom: 24px;
    border-bottom: 1px solid #888;
    box-shadow: 0px 4px 4px -4px rgba(0, 0, 0, 0.25);
    .AM_inner_info {
      margin-left: 26px;
    }
  }

  .inner_info_birth_colon {
    color: #a5a5a5;
  }

  .inner_info_major {
    color: #a5a5a5;
  }

  .inner_info_address {
    color: #a5a5a5;
  }

  .inner_info_scholar {
    color: #a5a5a5;
  }

  /* Mobile_MBTI */

  #About_Me .right_half {
    display: none;
  }

  #mobile_mbti {
    width: 100%;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #646464;
    position: relative;
    z-index: -1;
  }
  .mm_menu_toggle_btn {
    display: block;
    width: 24px;
    height: 24px;
    border: 2px solid #888;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    right: 30px;
    z-index: 100;
    transform: rotate(45deg);
    transition: 0.5s ease-in-out;
    &:hover {
      transform: rotate(-180deg);
    }
  }

  .mm_inner {
    width: 240px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 12px;
    padding-bottom: 2px;
    position: relative;
    font-family: "Noto Sans KR";
    .mm_title {
      font-size: 30px;
      color: white;
      span {
        color: var(--mobile_point_color);
      }
    }
    .mm_inner_text {
      color: white;
      font-size: 14px;
      font-weight: 300;
    }
  }

  img {
    margin-bottom: 16px;
    width: 116px;
    height: 156px;
  }

  #mobile_mbti .mbti_toggle_btn {
    width: 136px;
    height: 42px;
    position: relative;
    overflow: visible;
    .mbti_mobile_btn {
      /* margin-top: 32px; */
      width: 136px;
      height: 42px;
      border: none;
      border-radius: 50px;
      cursor: pointer;
      position: relative;
      background: #d1d1d1;
      &::before {
        content: "";
        position: absolute;
        width: 136px;
        height: 42px;
        bottom: -6px;
        left: 0;
        background: #444;
        border-radius: 50px;
        z-index: -1;
        opacity: 1;
        transition: all 0.05s;
      }
      &:active:before {
        opacity: 0;
      }
    }
  }

  /* Hobbies */

  #Hobbies {
    width: 100%;
    height: 578px;
  }

  .H_menu_toggle_btn {
    width: 24px;
    height: 24px;
    border-radius: 8px;
    right: 24px;
    z-index: 10;
  }

  .H_pager {
    display: none;
  }

  .H_contents {
    width: 250px;
    height: 540px;
    gap: 30px;
    justify-content: start;
    overflow: hidden;
  }

  .H_contents_title {
    font-size: 30px;
  }

  .H_card_container {
    left: 270px;
    bottom: 50px;
    position: absolute;
    width: 100%;
    gap: 30px;
    border-radius: 18px;
  }

  .H_card {
    width: 100%;
    height: 414px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
  }

  .card_inner_img {
    width: 240px;
    height: 255px;
  }

  .card_info_container {
    width: 100%;
    height: 160px;
    padding: 35px;
    align-items: start;
    text-align: left;
    gap: 16px;
  }

  .card_info_title {
    width: 100%;
    padding-bottom: 10px;
    font-size: 22px;
    text-align: left;
    border-bottom: 1px solid white;
  }

  .card_info_desc {
    font-size: 10px;
    span {
      font-size: 10px;
    }
  }

  /* Mobile Card Pagers & Arrows */
  .img_slide_arrow {
    display: flex;
    width: 100%;
    justify-content: space-between;
    cursor: pointer;
    padding: 0 10px;
    gap: 120px;
  }
  .img_slide_arrow .slide_arrow.left {
    position: relative;
    width: 24px;
    height: 24px;
    color: #111;
    text-align: center;
    border-radius: 100%;
    background: rgba(136, 136, 136, 0.25);
    transition: all 0.3s;
    &:hover {
      color: white;
      background: rgba(0, 0, 0, 0.3);
      border-radius: 100%;
    }
    /* 위치확인용 */
    /* border: 1px solid #f00; */
  }

  .img_slide_arrow .slide_arrow.right {
    position: relative;
    width: 24px;
    height: 24px;
    color: #111;
    text-align: center;
    border-radius: 100%;
    background: rgba(136, 136, 136, 0.25);
    transition: all 0.3s;
    &:hover {
      color: white;
      background: rgba(0, 0, 0, 0.3);
      border-radius: 100%;
    }
    /* 위치확인용 */
    /* border: 1px solid #f00; */
  }

  .img_slide_arrow .slide_arrow i {
    display: inline-block;
    width: 6px;
    height: 12px;
    font-size: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .img_slide_pager {
    display: flex;
    width: 100%;
    height: 6px;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    gap: 4px;
    cursor: pointer;
  }

  .img_slide_pager span {
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.5);
    text-indent: -9999px;
  }

  .card_slide_arrow {
    display: flex;
    width: 220px;
    justify-content: space-between;
    cursor: pointer;
    padding: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 76px;
  }

  .card_slide_arrow .slide_arrow.left {
    position: relative;
    width: 7px;
    height: 13px;
    color: #fff;
    text-align: center;
    border-radius: 100%;
    transition: all 0.3s;
    &:hover {
      transform: translateX(-2px);
      background: none;
    }
    /* 위치확인용 */
    /* border: 1px solid #f00; */
  }

  .card_slide_arrow .slide_arrow.right {
    position: relative;
    width: 7px;
    height: 13px;
    color: #fff;
    text-align: center;
    border-radius: 100%;
    transition: all 0.3s;
    &:hover {
      transform: translateX(2px);
      background: none;
    }
    /* 위치확인용 */
    /* border: 1px solid #f00; */
  }

  .card_slide_arrow .slide_arrow i {
    display: inline-block;
    width: 16px;
    height: 28px;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .card_pager {
    display: none;
  }

  .m_card_pager {
    display: flex;
    gap: 5px;
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    cursor: pointer;
    span {
      width: 30px;
      height: 4px;
      background: #d9d9d9;
      /* 숫자를 안보이게함. html태그내의 내용을 지워도 되지만 그럴경우 첨보는 사람이 볼때 비어있는 태그가 이상하게 보이므로 코드의 재사용성이 떨어짐. 다음과 같은 방법으로 없애는걸 권장 */
      text-indent: -9999px;
    }
  }

  /* #Vision */
  #Vision {
    width: 100%;
    height: 520px;
    background: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .V_menu_toggle_btn {
    width: 24px;
    height: 24px;
    border-radius: 8px;
    right: 24px;
    z-index: 10;
  }

  .V_pager {
    display: none;
  }

  .V_contents {
    overflow: hidden;
    width: 98%;
    height: 480px;
    justify-content: start;
  }

  .V_contents_title {
    font-size: 30px;
  }

  .V_card_container {
    position: absolute;
    left: 0;
    bottom: 50px;
    width: 200%;
    height: 340px;
    gap: 0;
    transition: all 0.3s;
    &:hover {
      transform: translateX(-50%);
    }
  }

  .V_card {
    width: 100%;
    height: 380px;
    border-radius: 30px;
    position: relative;
    justify-content: start;
  }

  .V_card_inner {
    width: 290px;
    height: 260px;
    gap: 30px;
  }

  .V_card_inner_img {
    width: 140px;
    height: 140px;
  }

  .V_card_inner_title {
    font-size: 30px;
  }

  .V_card_desc {
    font-size: 14px;
    position: absolute;
    bottom: 40px;
  }

  .V_slide_pager {
    display: flex;
    width: 100%;
    height: 6px;
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    gap: 6px;
    cursor: pointer;
  }

  .V_slide_pager span {
    width: 11px;
    height: 11px;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.5);
    text-indent: -9999px;
  }
}
